.searchBox {
  border: solid 1px var(--twitter-background);
  background-color: var(--twitter-background);
  height: 43px;
  border-radius: 20px;
  margin-top: 10px;
  transition: background-color 0.3s ease, border 0.3s ease;
}
.searchBox:focus-within{
  background-color: inherit;
  border: solid 1px var(--twitter-color);
}
.searchBox__Form {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 43px;
}
.searchBox__searchIcon {
  display: flex;
  flex: 0.15;
  transition: color 0.3s ease;
}
.searchBox:focus-within .searchBox__searchIcon{
  color: var(--twitter-color);
}
.searchBox__Form input {
  display: flex;
  flex: 0.85;
  border: none;
  outline: none;
  background-color: inherit;
  height: 80%;
  font-size: 16px;
  box-sizing: border-box; 
  border-radius: 20px;
}