.tweet {
  list-style-type: none;
  border: 1px solid var(--twitter-background);
  width: 100%;
}
.tweet__container{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
}
.tweet__avatar{
  display: flex;
  margin-right: 5px;
}
.tweet__body{
  display: flex;
  flex-direction: column;
}
.tweet__header{
  display: flex;
  flex-direction: row;
}
.tweet__displayname{
  margin-right: 2px;
  font-size: medium;
}
.verifiedIcon{
  color: var(--twitter-color);
  margin-right: 5px;
}
.tweet__username{
  color: rgb(144, 142, 142);
}
/* .tweet__text{
}
.tweet__text p {
} */
.tweet__image{
  border-radius: 25px;
  margin: 10px 0;
  
}
.tweet__image img {
  border-radius: 25px;
  max-width: 95%;
}
.tweet__footer{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.tweetIcons__excludeDownloadIcon{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  margin-right: 15px;

  align-items: baseline;

}
.commentIcon, .retweetIcon, .likeIcon, .viewIcon, .bookmarkIcon {
  padding: 10px; 
  border-radius: 50%;
  transition: all 0.3s ease;
}
.downloadIcon{
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.commentIcon:hover, 
.retweetIcon:hover, 
.likeIcon:hover, 
.viewIcon:hover, 
.bookmarkIcon:hover {
  color: var(--twitter-color);
  background-color: #E1F5FE;
  transform: scale(1.1); 
}
.downloadIcon:hover{
  color: var(--twitter-color);
  background-color: #E1F5FE;
  transform: scale(1.1);
}

