.tweetBoxContent__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--twitter-color);
}
.tweetBoxContent__whoCanReply{
  display: flex;
  flex: 0.4;
  border-bottom: 0.1px solid var(--twitter-background);
  padding-bottom: 10px;
}
.tweetBoxContent__whoCanReply div{
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items:center;
}
.tweetBoxContent__whoCanReply div:hover{
  cursor: pointer;
  background-color: rgb(211, 239, 250);
  border-radius: 15px;
}
.tweetBoxContent__whoCanReply p {
  font-size: 15px;
  font-weight: bolder;
}
.tweetBoxContent__icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex: 0.6;
  padding: 10px 0;
}
.tweetBoxContent__postButton{
  width: 65px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: rgb(163, 163, 163);
  color: white;
  font-size: 12px;
  font-weight: bolder;
}